<h1>Welcome to RouteDiscover App</h1>

<div class="main-page">
    <section>
        <p>Welcome to RouteDiscover, a Node-based web application that allows you to register, edit, and explore data about
            trekking routes shared by our users. </p>
    </section>
    <section>
        <p>Join our community of trekking enthusiasts and uncover exciting new destinations while sharing your own
            experiences. Start exploring and connect with fellow trekking enthusiasts on RouteDiscover!</p>
        <div class="index-buttons">
            <button class="button-register" id="button-register" role="button">Register</button>
            
            <button class="button-sign-in" id="button-sign-in" role="button">Sign In</button>
        </div>
    </section>
    <section>
        <p>With RouteDiscover, you can access a wide variety of routes and discover
            detailed
            information about each one, including their name, difficulty level, distance, duration, country, and
            description. You
            also have the ability to add points of interest and explore comments that other users have shared about
            different
            routes.</p>
    </section>
</div>

    <script src="/js/script.js"></script>