<h1>Welcome to RouteDiscover App</h1>

<section>
    <p>Welcome to RouteDiscover, a Node-based web application that allows you to register, edit, and explore data about
        trekking routes shared by our users. </p>
</section>
<section>
    <p>Join our community of trekking enthusiasts and uncover exciting new destinations while sharing your own
        experiences. Start exploring and connect with fellow trekking enthusiasts on RouteDiscover!</p>
        <div>
            <a href="#">Register</a>
            <a href="#">Sign In</a>
        </div>
</section>
<section>
    <p>With RouteDiscover, you can access a wide variety of routes and discover
    detailed
    information about each one, including their name, difficulty level, distance, duration, country, and
    description. You
    also have the ability to add points of interest and explore comments that other users have shared about
    different
    routes.</p>
</section>
