
{{#if successMessage}}
<div class="success-message">
    <p>{{successMessage}}</p>
</div>
{{/if}}

<script>
    setTimeout(function () {
        document.querySelector('.success-message').classList.add('hide');
    }, 5000);
</script>

{{#if errorMessage}}
<div class="error-message">
    <p>{{errorMessage}}</p>
</div>
{{/if}}
<script>
    setTimeout(function () {
        document.querySelector('.error-message').classList.add('hide');
    }, 5000);
</script>

<h3>RouteDiscover</h3>

<div class="section">
    <p class="lead">Start exploring and connect with fellow trekking enthusiasts on RouteDiscover!</p>
</div>

<div class="section login">
    <a href="/auth/google" class="btn red darken-1">Log In with Google</a>
    <div class="span-container">
        <span class="custom-span">Or with email and password</span>
    </div>
    <form class="form" action="/login/users" method="post">
        <div>
            <label for="email">Email: </label>

            <input id="email" name="email" type="email" placeholder="email123@gmail.com" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <span class="password"><i>The password must have at least 8 characters: at least 1 uppercase character, 1 number
            and 1
            special character.</i></span>
            <input id="password" name="password" type="password" placeholder="password"
 required>
        </div>
        <input type="submit" class="btn blue darken-1" name="submit" value="LOGIN">

        <p>No account? <a href="/registration">Register</a></p>
    </form>

</div>