{{#if errorMessage}}
{{#if (isArray errorMessage)}}
<div class="error-message">
{{#each errorMessage}}
<p>{{this.msg}}</p>
{{/each}}
</div>
{{else}}
<div class="error-message">
    <p>{{errorMessage}}</p>
</div>
{{/if}}
<script>
    setTimeout(function () {
        document.querySelector('.error-message').classList.add('hide');
    }, 6000);
</script>
{{/if}}




<form class="form" action="/users" method="post">
    <div>
        <label for="firstName">First Name: </label>
        <input id="firstName" name="firstName" type="text" maxlength="30" required placeholder="Tony">
    </div>
    <div>
        <label for="lastName">Last Name: </label>
        <input id="lastName" name="lastName" maxlength="30" type="text" required placeholder="Stark">
    </div>
    <div>
        <label for="email">Email: </label>
        <input id="email" name="email" type="email" placeholder="email123@gmail.com" required>
    </div>
    <div>
        <label for="password">password: </label>
        <span class="password">The password must have at least <bold>8 characters</bold>: at least 1 uppercase
            character, 1 number and 1
            special character.</span>
        <input id="password" name="password" type="password"
            pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="password" required>
    </div>
    <input type="submit" name="submit" id="regbtn" value="Register">
    <input type="hidden" name="action" value="register">
    <p> Do you have account? <br><a href="/login"> Login</a></p>
</form>